<div class="main-body max-width" ng-controller="adminMainCtrl">
  <div class="user-count">
    <span class="icon-user user"></span>
    <div class="description-area">
      <p class="p1">{{userCount}}</p>
      <p class="p2">用户数量</p>
      <span class="icon-arrow-right arrow"></span>
    </div>
  </div>
  <div class="project-count">
    <span class="icon-xiangmu2 project"></span>
    <div class="description-area">
      <p class="p1">{{projectCount}}</p>
      <p class="p2">项目数量</p>
      <span class="icon-arrow-right arrow"></span>
    </div>
  </div>
  <div class="current-project-state">
    <span class="icon-shuju uav"></span>
    <div class="description-area">
      <p class="p1">{{userCount}}</p>
      <p class="p2">无人机数据处理</p>
      <span class="icon-arrow-right arrow"></span>
    </div>
  </div>
</div>