<div class="app-header" ng-controller="headerCtrl">
  <div class="max-width">
    <div class="header-left">
      <a href="#">
        <span class="icon-logo logo"></span>
        <span class="title">无人机数据处理云</span>
      </a>
    </div>
    <div class="header-middle" ng-show="isAdmin">
      <ul>
        <li>
          <span class="icon-home"></span>
          <span><a ui-sref="admin.index">首页</a></span>
        </li>
        <li>
          <span class="icon-users"></span>
          <span><a ui-sref="admin.users">用户管理</a></span>
        </li>
      </ul>
    </div>
    <div class="header-right">
      <div class="admin-exit" ng-show="isAdmin" ng-click="logout()">
        <span class="glyphicon glyphicon-remove-circle exit"></span>
        <span>退出</span>
      </div>
      <div ng-show="!isAdmin">
        <!-- <div class="btn-group" uib-dropdown>
          <span class="icon-search user-info search" uib-dropdown-toggle></span>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
            <li role="menuitem">
              <div class="form-group" style="padding: 20px 20px 5px 20px;">
                <input type="text" class="form-control" placeholder="输入项目名称">
              </div>
            </li>
          </ul>
        </div> -->
        <div class="btn-group">
          <span class="icon-search user-info search" uib-popover-template="dynamicPopover.templateUrl" popover-placement="{{dynamicPopover.placement}}" 
          popover-trigger="'outsideClick'""></span>
        </div>
        <script type="text/ng-template" id="myPopoverTemplate.html">
          <div class="form-group">
            <input type="text" class="form-control PopoverTemplateInput" placeholder="请输入项目名称" ng-keyup="mykey($event)" ng-model="dynamicPopover.text">
          </div>
        </script>
        <div class="btn-group" uib-dropdown>
          <span class="icon-user user-info" uib-dropdown-toggle style="margin-top: 20px"></span>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
            <li role="menuitem"><a href="#">数据处理完成1&nbsp;&nbsp;&nbsp;&nbsp;2016-09-26</a></li>
            <li role="menuitem"><a href="#">数据处理完成2&nbsp;&nbsp;&nbsp;&nbsp;2016-09-26</a></li>
            <li role="menuitem"><a href="#">数据处理完成3&nbsp;&nbsp;&nbsp;&nbsp;2016-09-26</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a ng-click="logout()">退出系统</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>